:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: #000000;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.card-b{
  margin-top: 30px;
  height: 9em;
  background-color: rgba(165, 105, 1, 0.766) !important;
  color: gold;
}

main .row:first-of-type {
  margin-top: 30px;
}

.App {
  text-align: center;
}

main {
  background-color: rgba(255, 0, 51, 0.461);
}

.navbar{
  background-color: rgb(0, 0, 0)
}

body {
  background-image: url('/Background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.Movie-card{
  background-image: url('/movieCardBG.jpg');
  background-size: cover;
  background-attachment:fixed;
}

.cartBtn {
  padding: 0px;
  border: 0px;
  border: none !important;
}

@media only screen and (min-width: 992px) {

  .logo {
    margin-right: 40px;
  }

  main{
    margin: 100px;
  }

  #shoppingCart {
    height: 4vw;
    width: 100%;
    padding-right: 50px;
    border: none;
  }
}

@media only screen and (max-width: 992px) {
  #shoppingCart {
    height: 6vw;
    width: 100%;
    border: none;
  }

  main .row:first-of-type {
    margin-top: 80px;
  }
  .navbar {
    height: 70px;
  }
}

@media only screen and (max-width: 672px) {
  #shoppingCart {
    height: 8vw;
  }
}

.poster{
  padding-top: 20px;
}

.readMore, .soerter-filter-title{
  color: gold !important;
}

.readMore {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.fil-sort {
  margin-bottom: 100px !important;
  background-color: transparent !important;
  border: none !important;
}

.modal{
  margin-top: 100px;
}

.title-bg{
  -webkit-text-stroke: 0.5px #000000;
}

.mr-1{
  background-color: var(--primary) !important;
}


