:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: #000000;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.card-body span{
  background-color: rgb(165,
    1,
    34) !important;
}

main .row:first-of-type {
  margin-top: 80px;
}

.App {
  text-align: center;
}

main {
  background-color: rgba(255, 0, 51, 0.3);
  padding: 100px;
  margin: 100px;
}

.navbar{
  background-color: rgb(0, 0, 0)
}

.title-bg{
  background-color: rgba(165, 1, 34, 0.9);
  padding: 0px;
}

body {
  background-image: url('/Background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.Movie-card{
  background-image: url('/movieCardBG.jpg');
  background-size: cover;
  background-attachment:fixed;
}

.cartBtn {
  padding: 0px;
  border: 0px;
  border: none !important;
}

@media only screen and (min-width: 992px) {

  .logo {
    margin-right: 40px;
  }

  #shoppingCart {
    height: 4vw;
    width: 100%;
    padding-right: 50px;
    border: none;
  }
}

@media only screen and (max-width: 992px) {
  #shoppingCart {
    height: 8vw;
    width: 100%;
    border: none;
  }
}

.poster{
  padding-top: 20px;
}

.readMore-btn{
  border-color: gold;
}


