:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: #000000;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.card-b{
  margin-top: 30px;
  height: 9em;
  background-color: rgba(165, 105, 1, 0.766) !important;
  color: gold;
}

main .row:first-of-type {
  margin-top: 30px;
}

.App {
  text-align: center;
}

main {
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(255, 0, 51, 0.5);
  padding: 20px;
}

.navbar, .footer{
  background-color: rgb(0, 0, 0)
}

body{
  background-image: url('/Background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.Movie-card{
  background-image: url('/movieCardBG.jpg');

}

.cartBtn {
  padding: 0px;
  border: 0px;
  border: none !important;
}

@media only screen and (min-width: 992px) {

  .logo {
    margin-right: 40px;
  }

  main{
    margin: 100px;
  }

  #shoppingCart {
    height: 4vw;
    width: 100%;
    padding-right: 50px;
    border: none;
  }
}

@media only screen and (max-width: 992px) {
  #shoppingCart {
    height: 6vw;
    width: 100%;
    border: none;
  }

  main .row:first-of-type {
    margin-top: 80px;
  }
  .navbar {
    height: 70px;
  }
}

@media only screen and (max-width: 672px) {
  #shoppingCart {
    height: 8vw;
  }
}

.poster{
  padding-top: 20px;
}

.readMore, .soerter-filter-title{
  color: gold !important;
}

.readMore {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.fil-sort {
  margin-bottom: 100px !important;
  background-color: transparent !important;
  border: none !important;
}

.modal{
  margin-top: 100px;
}

.title-bg{
  padding-top: 5px;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.mr-1{
  background-color: var(--primary) !important;
}

.info-cont, .modal-footer, .modal-body,
.modal-header {
  background-image: url('/info.jpg');
  color: rgb(255, 191, 0);
  background-attachment: fixed;
  padding-bottom: 40px;
  padding-top: 15px;
  font-family: 'Playfair Display', serif !important;
}

.info{
  text-align: left !important;
  padding-left: 150px !important;
  padding-top: 30px !important;
  font-family: 'Playfair Display', serif;
}



@media screen and (max-width: 1151px) {
  .info {
      padding-left: 30px !important;
    }
}

@media screen and (max-width: 1256px) {
  #num-of-ppl {
    margin-left: 70px !important;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .info {
    text-align: center !important;
  }

  #num-of-ppl {
    margin-left: 0px !important;
    align-items: center;
  }
}

.screening-and-seats {
  background-image: url('/info.jpg');
  text-align: center;
  color: rgb(255, 191, 0)
}

.seats {
  text-align: center;
}

.seats>.row {
  display: inline-block;
}

.seats>.row>div {
  background-color: white;
  color: black;
  float: right;
  text-align: center;
  padding-top: 3px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  width: 30px;
  height: 30px;
  margin: 3px 1px;
  cursor: pointer;
}

.seats>.row>.selected {
  background-color: #1b85dc;
  color: white;
}

.seats>.row>.occupied {
  background-color: rgb(174, 1, 1);
  color: white;
  cursor: not-allowed;
}

.poster-screen {
  width: 350px;
  object-fit: cover;
  aspect-ratio: 9 / 9;
  border: 5px solid #fff;
  border-radius: 10px;
  border-color: rgb(192, 141, 3);
  margin-bottom: 20px;
}

.screen-time{
  margin-left: 5px;
  margin-top: 5px;
}

.book-btn{
  height: 40px;
  width: 100px;
  font-size: 15px;
  margin-bottom: 15px;
  color: gold;
  margin-left: 5px;
}

.screaning-option, .select-role{
  margin-bottom: 16px;
}

.select-role{
  margin-right: 15px;
  display: inline-block;
}

#num-of-ppl{
  margin-left: 170px;
}